<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.HouseHoldMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.HouseHold">
    <id column="h_id" jdbcType="BIGINT" property="hId" />
    <result column="s_id" jdbcType="BIGINT" property="sId" />
    <result column="genre" jdbcType="INTEGER" property="genre" />
    <result column="h_name" jdbcType="VARCHAR" property="hName" />
    <result column="h_gender" jdbcType="INTEGER" property="hGender" />
    <result column="h_phone" jdbcType="VARCHAR" property="hPhone" />
    <result column="h_birthday" jdbcType="DATE" property="hBirthday" />
    <result column="h_card" jdbcType="VARCHAR" property="hCard" />
    <result column="h_fettle" jdbcType="INTEGER" property="hFettle" />
    <result column="h_remark" jdbcType="VARCHAR" property="hRemark" />
    <association property="student" javaType="Student">
    	<id column="s_id" jdbcType="BIGINT" property="sId" />
	    <result column="s_no" jdbcType="VARCHAR" property="sNo" />
	    <result column="s_name" jdbcType="VARCHAR" property="sName" />
	    <result column="gender" jdbcType="INTEGER" property="gender" />
	    <result column="s_phone" jdbcType="VARCHAR" property="sPhone" />
	    <result column="email" jdbcType="VARCHAR" property="email" />
	    <result column="birthday" jdbcType="DATE" property="birthday" />
	    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
	    <result column="contact" jdbcType="VARCHAR" property="contact" />
	    <result column="contactphone" jdbcType="VARCHAR" property="contactphone" />
	    <result column="address" jdbcType="VARCHAR" property="address" />
	    <result column="postcode" jdbcType="VARCHAR" property="postcode" />
	    <result column="father" jdbcType="VARCHAR" property="father" />
	    <result column="fatherphone" jdbcType="VARCHAR" property="fatherphone" />
	    <result column="mather" jdbcType="VARCHAR" property="mather" />
	    <result column="matherphone" jdbcType="VARCHAR" property="matherphone" />
	    <result column="fettle" jdbcType="INTEGER" property="fettle" />
	    <result column="remark" jdbcType="VARCHAR" property="remark" />
	    <result column="c_id" property="cId"/>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    h_id, s_id, genre, h_name, h_gender, h_phone, h_birthday, h_card, h_fettle, h_remark
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.pojo.HouseHoldExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from household
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from household
    where h_id = #{hId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from household
    where h_id = #{hId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.pojo.HouseHoldExample">
    delete from household
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.HouseHold">
    insert into household (h_id, s_id, genre, 
      h_name, h_gender, h_phone, 
      h_birthday, h_card, h_fettle, 
      h_remark)
    values (#{hId,jdbcType=BIGINT}, #{sId,jdbcType=BIGINT}, #{genre,jdbcType=INTEGER}, 
      #{hName,jdbcType=VARCHAR}, #{hGender,jdbcType=INTEGER}, #{hPhone,jdbcType=VARCHAR}, 
      #{hBirthday,jdbcType=DATE}, #{hCard,jdbcType=VARCHAR}, #{hFettle,jdbcType=INTEGER}, 
      #{hRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.HouseHold">
    insert into household
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hId != null">
        h_id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="genre != null">
        genre,
      </if>
      <if test="hName != null">
        h_name,
      </if>
      <if test="hGender != null">
        h_gender,
      </if>
      <if test="hPhone != null">
        h_phone,
      </if>
      <if test="hBirthday != null">
        h_birthday,
      </if>
      <if test="hCard != null">
        h_card,
      </if>
      <if test="hFettle != null">
        h_fettle,
      </if>
      <if test="hRemark != null">
        h_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hId != null">
        #{hId,jdbcType=BIGINT},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=BIGINT},
      </if>
      <if test="genre != null">
        #{genre,jdbcType=INTEGER},
      </if>
      <if test="hName != null">
        #{hName,jdbcType=VARCHAR},
      </if>
      <if test="hGender != null">
        #{hGender,jdbcType=INTEGER},
      </if>
      <if test="hPhone != null">
        #{hPhone,jdbcType=VARCHAR},
      </if>
      <if test="hBirthday != null">
        #{hBirthday,jdbcType=DATE},
      </if>
      <if test="hCard != null">
        #{hCard,jdbcType=VARCHAR},
      </if>
      <if test="hFettle != null">
        #{hFettle,jdbcType=INTEGER},
      </if>
      <if test="hRemark != null">
        #{hRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.pojo.HouseHoldExample" resultType="java.lang.Long">
    select count(*) from household
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update household
    <set>
      <if test="record.hId != null">
        h_id = #{record.hId,jdbcType=BIGINT},
      </if>
      <if test="record.sId != null">
        s_id = #{record.sId,jdbcType=BIGINT},
      </if>
      <if test="record.genre != null">
        genre = #{record.genre,jdbcType=INTEGER},
      </if>
      <if test="record.hName != null">
        h_name = #{record.hName,jdbcType=VARCHAR},
      </if>
      <if test="record.hGender != null">
        h_gender = #{record.hGender,jdbcType=INTEGER},
      </if>
      <if test="record.hPhone != null">
        h_phone = #{record.hPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.hBirthday != null">
        h_birthday = #{record.hBirthday,jdbcType=DATE},
      </if>
      <if test="record.hCard != null">
        h_card = #{record.hCard,jdbcType=VARCHAR},
      </if>
      <if test="record.hFettle != null">
        h_fettle = #{record.hFettle,jdbcType=INTEGER},
      </if>
      <if test="record.hRemark != null">
        h_remark = #{record.hRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update household
    set h_id = #{record.hId,jdbcType=BIGINT},
      s_id = #{record.sId,jdbcType=BIGINT},
      genre = #{record.genre,jdbcType=INTEGER},
      h_name = #{record.hName,jdbcType=VARCHAR},
      h_gender = #{record.hGender,jdbcType=INTEGER},
      h_phone = #{record.hPhone,jdbcType=VARCHAR},
      h_birthday = #{record.hBirthday,jdbcType=DATE},
      h_card = #{record.hCard,jdbcType=VARCHAR},
      h_fettle = #{record.hFettle,jdbcType=INTEGER},
      h_remark = #{record.hRemark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.HouseHold">
    update household
    <set>
      <if test="sId != null">
        s_id = #{sId,jdbcType=BIGINT},
      </if>
      <if test="genre != null">
        genre = #{genre,jdbcType=INTEGER},
      </if>
      <if test="hName != null">
        h_name = #{hName,jdbcType=VARCHAR},
      </if>
      <if test="hGender != null">
        h_gender = #{hGender,jdbcType=INTEGER},
      </if>
      <if test="hPhone != null">
        h_phone = #{hPhone,jdbcType=VARCHAR},
      </if>
      <if test="hBirthday != null">
        h_birthday = #{hBirthday,jdbcType=DATE},
      </if>
      <if test="hCard != null">
        h_card = #{hCard,jdbcType=VARCHAR},
      </if>
      <if test="hFettle != null">
        h_fettle = #{hFettle,jdbcType=INTEGER},
      </if>
      <if test="hRemark != null">
        h_remark = #{hRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where h_id = #{hId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.HouseHold">
    update household
    set s_id = #{sId,jdbcType=BIGINT},
      genre = #{genre,jdbcType=INTEGER},
      h_name = #{hName,jdbcType=VARCHAR},
      h_gender = #{hGender,jdbcType=INTEGER},
      h_phone = #{hPhone,jdbcType=VARCHAR},
      h_birthday = #{hBirthday,jdbcType=DATE},
      h_card = #{hCard,jdbcType=VARCHAR},
      h_fettle = #{hFettle,jdbcType=INTEGER},
      h_remark = #{hRemark,jdbcType=VARCHAR}
    where h_id = #{hId,jdbcType=BIGINT}
  </update>
  
  <select id="getAllhouse" resultMap="BaseResultMap" >
  		select s.s_name,h_id, h.s_id, genre, h_name, h_gender, h_phone, h_birthday, h_card, h_fettle, h_remark 
  		from household as h left join student as s on s.s_id = h.s_id
  </select>
  
</mapper>