<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
	<resultMap type="com.example.demo.pojo.User" id="ResultMap">
		<id	column="id" property="id" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="identity" property="identity" />
	</resultMap>
	
	<select id="getUserLogin" parameterType="User" resultMap="ResultMap">
		select account,password,identity from user where account=#{account} and password =#{password} and identity = #{identity}
	</select>
	<select id="getUser" resultMap="ResultMap">
		select * from user where identity != 0
	</select>
	
</mapper>    